:root {
    --primary-color: #efefef;
    --secondary-color: #2c3e50;
    --accent-color: #e74c3c;
    --light-color: #ecf0f1;
    --dark-color: #e3e1e1;
    --text-color: rgba(77, 77, 77, 0.91);
    --text-light: #7f8c8d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: #ececec;
}

.portfolio-container {
    margin: 0;
    padding: 0;
}